<!-- Masthead-->
<!--TODO: Create modal form
make grid with real values and crud abilities with modal
same functionality with timeline
create achievement buttons and create shadow boxes for them
    add sticky nav & hamburger menu with anchors to components
    add this site to doteasy
-->

<header class="masthead" style="margin-top: -100px;">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Today I Failed</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Celebrate, track, and view your failures over time. If you're not failing, you're not trying.</h2>
            <a href='@Url.Action("Index", "Failures")' class="btn btn-info">Add New Failure</a><a style="margin-left: 10px;" class="btn btn-outline-light js-scroll-trigger" href='@Url.Action("Timeline", "Failures")'>View Timeline</a>
        </div>
    </div>
</header>






